@model AddUserBindingModel
@{ ViewData["Title"] = "Home Page"; }
<html>
<body body style="background-color:powderblue;">
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 75%;
            align-content:center;
        }

        td, th {
            border: 1px solid #000080;
            text-align: center;
            padding: 5px;
        }
        table.center {
            margin-left: auto;
            margin-right: auto;
        }
        p {
            text-align: center
        }
        h2 {
            text-align: center
        }

        tr:nth-child(even) {
            background-color: powderblue;
        }
    </style>

    <h2 class="center">Enter your name to win a prize!</h2>
    <p>
        The table below shows which number and colour you need to win a prize. 
    </p>
    <table style="width:60%" class="center">
        <tr>
            <th>Colour</th>
            <th>Number</th>
            <th>Prize</th>
        </tr>
        <tr>
            <td>red</td>
            <td>1</td>
            <td>£100</td>
        </tr>
        <tr>
            <td>red</td>
            <td>2</td>
            <td>£100</td>
        </tr>
        <tr>
            <td>blue</td>
            <td>3</td>
            <td>£200</td>
        </tr>
        <tr>
            <td>blue</td>
            <td>3</td>
            <td>£200</td>
        </tr>
        <tr>
            <td>green</td>
            <td>1</td>
            <td>£300</td>
        </tr>
        <tr>
            <td>green</td>
            <td>5</td>
            <td>£300</td>
        </tr>
        <tr>
            <td>purple</td>
            <td>2</td>
            <td>£400</td>
        </tr>
        <tr>
            <td>purple</td>
            <td>4</td>
            <td>£400</td>
        </tr>

    </table>
    <p class="center">Good luck!</p>

    <form asp-action="Index">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FirstName" class="control-label"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="control-label"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </form>

</body>
</html>